@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
header {
  z-index: 3;
}
header p {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .navbar-nav {
    flex-direction: column;
  }
}

.circle-nav-link {
  border: 1px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 0 11px;
  padding-top: 9px;
}

.circle-nav-link-phone {
  border: 1px solid white;
  border-radius: 15px;
  max-width: 204px;
  height: 36px;
  margin: 0 11px;
  padding: 4px 27px 0 33px;
}

.main-banner {
  background-image: url("../images/img_4.jpg");
  background-size: cover;
  height: 100vh;
}
.main-banner.item-2 {
  background-image: url("../images/img_3.jpg");
}
.main-banner.item-3 {
  background-image: url("../images/img_2.jpg");
}
.main-banner.item-4 {
  background-image: url("../images/img_1.jpg");
}
@media screen and (max-width: 768px) {
  .main-banner {
    background-image: url("../images/img_screen.jpg");
  }
}

.main-section h1 {
  font-family: "20 Kopeek Book";
  font-size: 55px;
  line-height: 100%;
}
@media screen and (max-width: 768px) {
  .main-section h1 {
    color: #FFFFFF;
  }
}
.main-section h2 {
  font-family: "20 Kopeek Book";
  font-size: 34px;
  line-height: 110%;
}
@media screen and (max-width: 768px) {
  .main-section h2 {
    color: #FFFFFF;
  }
}
.main-section a {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.main-section {
  height: 100vh;
}
.main-section .position-absolute {
  z-index: 2;
  top: 300px;
}

.firm_style {
  padding-top: 68px;
  padding-bottom: 134px;
}
.firm_style h3 {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
}
.firm_style p {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.logos_and_names {
  padding-bottom: 80px;
}
.logos_and_names h2 {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  margin-bottom: 70px;
}

.font_numbers {
  top: -30px;
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
}

.font_paragraf {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.font_paragraf_smal {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.cost_style {
  padding-top: 68px;
  padding-bottom: 134px;
}
.cost_style h3 {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
}
.cost_style p {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
.cost_style .bg-primary {
  border-radius: 5px;
}

.portfolio h3 {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
}
.portfolio p {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
.portfolio a {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.gadline_style {
  padding: 50px 0;
}
.gadline_style .bg-primary {
  border-radius: 5px;
}
.gadline_style h3 {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
}
.gadline_style p {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
.gadline_style h4 {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
}

.form_callback {
  padding-bottom: 150px;
  padding-top: 30px;
}
.form_callback .form-check {
  padding-left: 36px;
}
.form_callback h3 {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
}
.form_callback p {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
}
.form_callback label {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
.form_callback button {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.stages_creation {
  padding-bottom: 150px;
}
.stages_creation h3 {
  font-family: "20 Kopeek Book";
  font-weight: 400;
  font-size: 45px;
  line-height: 100%;
}
.stages_creation h4 {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 768px) {
  .stages_creation h4 {
    font-size: 15px;
  }
}
.stages_creation p {
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media screen and (max-width: 768px) {
  .stages_creation p {
    font-size: 12px;
  }
}

/*carousel*/
.owl-carousel .owl-nav button.owl-prev:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f100";
  position: absolute;
  top: 700px;
  left: 60px;
  font-size: 25px;
  color: #6c757d;
}
@media screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev:after {
    display: none;
  }
}

.owl-carousel .owl-nav button.owl-next:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f101";
  position: absolute;
  top: 700px;
  right: 60px;
  font-size: 25px;
  color: #6c757d;
}
@media screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next:after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
